.inputWrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.genericTag {
  display: block;
  width: 85%;
  font: inherit;
  border: 1px solid black;
  outline: none;
  padding: 5px 15px;
}

.label {
  float: left;
  font-weight: bold;
}

.validationErrorMessage {
  background-color: #f8d7da;
  border-color: #f5c6cb;
} 