.standardSponge {
  margin: auto;
  text-align: center;
  width: 450px;
  height: 500px;
}

.cakeContainer { /* div.cakeContainer wraps the entire cake */
  margin: auto;
  text-align: center;
  width: 450px;
  height: 500px;
  overflow: scroll;
}

.batter {
  width: 90%;
  height: 10%;
  margin: auto; /* centers it */
  border-radius: 20px; /* rounded corners */
  background-color: #f3e5ab;
}

.redVelvet {
  background-color: #800B15;
}

.carrot {
  background-color: #BF6F31;
}

.mysteryFlavor {
  border: 1px solid #f0de95;
}

.mysteryFlavor:after {
  content: attr(data-flavor);
  text-align: center;
  padding: 10px;
  display: block;
  line-height: initial;
}