.cakeContainer { /* div.cakeContainer wraps the entire cake */
  margin: auto; /* centers the div.cakeContainer */
  width: 500px;
  height: 450px;
}

.cakeBoard { /* div.cakeBoard is the thin round silver base on which the cake sits */
  width: 95%;
  height: 1.5%;
  background: linear-gradient(#D3D3D3, #C0C0C0); /* Transitioning between shades of gray. Not having a monotone color gives it a 3-dimensional look */
  border-radius: 15px; /* rounded corners */
  margin: auto; /* centers it */
}

.batter {
  width: 90%;
  height: 10%;
  margin: auto; /* centers it */
  border-radius: 20px; /* rounded corners */
  background-color: #f3e5ab;
}

.redVelvet {
  background-color: #800B15;
}

.carrot {
  background-color: #BF6F31;
}

.mysteryFlavor {
  border: 1px solid #f0de95;
}

.mysteryFlavor::after {
  content: attr(data-flavor);
  text-align: center;
  padding: 10px;
  display: block;
  line-height: initial;
}