.error {
  text-align: center;
  margin: 2% auto;
  font-weight: bold;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.standardSponge {
  margin: auto;
  text-align: center;
  width: 450px;
  height: 500px;
}

.cakeContainer { /* div.cakeContainer wraps the entire cake */
  margin: auto;
  text-align: center;
  width: 450px;
  height: 500px;
  overflow: scroll;
}

.standardSpongeBase {
  width: 450;
  height: 200px;
  background-color: #f3e5ab;
  border-radius: 0 0 40px 40px;
  box-shadow: inset -15px 0 #DEB887;
  margin: 2% auto;
}

.standardSpongeTop {
  width: 450;
  height: 100px;
  background-color: #f3e5ab;
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #DEB887;
  margin: 2% auto;
  position: relative;
}