.batter {
  width: 90%;
  height: 10%;
  margin: auto; /* centers it */
  border-radius: 20px; /* rounded corners */
  background: linear-gradient(#f3e5ab, #e9e1cf);
}

.redVelvet {
  background: linear-gradient(#8B0000, #800B15);
}

.carrot {
  background: linear-gradient(#FFA500, #BF6F31);
}

.mysteryBatterFlavor {
  border: 1px solid linen;
}

.mysteryBatterFlavor:after {
  content: attr(data-flavor);
  text-align: center;
  padding: 10px;
  display: block;
  line-height: initial;
}
/* STYLES FOR FILLING LAYERS */
.filling {
  width: 90%;
  height: 6%;
  margin: auto;
  border-radius: 15px;
  background: linear-gradient(#f1dfd1, #f6f0ea);
}

.mysteryFillingFlavor {
  border: 1px solid snow;
}

.mysteryFillingFlavor:after {
  content: attr(data-flavor);
  text-align: center;
  padding: 3px;
  display: block;
  line-height: initial;
}

.buttercream {
  background: linear-gradient(#FFF8DC, #F5DEB3);
}

.chocolateGanache {
  background: linear-gradient(#A0522D, #8B4513);
}

.bavarianCream {
  background: linear-gradient(#F5DEB3, #DEB887);
}

.dulceDeLeche {
  background: linear-gradient(#CD853F, #D2691E);
}

.whippedCream {
  background: linear-gradient(#FFFFFF, #FFFFFF);
  border: 1px solid #eee;
}

.keylime {
  background: linear-gradient(#e8f48c, #e2f48c);
}

.creamCheese {
  background: linear-gradient(#FFFFF0, #FFFFFF);
  border: 1px solid #eee;
}

.raspberry {
  background: linear-gradient(#DC143C, #A52A2A);
}

.strawberry {
  background: linear-gradient(#FF0000, #B22222);
}

.blueberry {
  background: linear-gradient(#6A5ACD, #483D8B);
}

.apricot {
  background: linear-gradient(#e8f48c, #e2f48c);
}