.batter {
  width: 90%;
  height: 10%;
  margin: auto; /* centers it */
  border-radius: 20px; /* rounded corners */
  background-color: #f3e5ab;
}

.redVelvet {
  background-color: #800B15;
}

.carrot {
  background-color: #BF6F31;
}

.mysteryBatterFlavor {
  border: 1px solid #f0de95;
}

.mysteryBatterFlavor:after {
  content: attr(data-flavor);
  text-align: center;
  padding: 10px;
  display: block;
  line-height: initial;
}

.filling {
  width: 90%;
  height: 6%;
  background: linear-gradient(#f1dfd1, #f6f0ea);
  border: 1px #eee;
  margin: auto;
  border-radius: 15px;
}

.keylime {
  background-color: #e8f48c;
}